{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h2>Change Password</h2>
    <form action="{{ url_for('change_password') }}" method="post">
        <div class="mb-3">
            <label for="current_password" class="form-label">Current Password</label>
            <input class="form-control mx-auto w-auto" id="current_password" name="current_password" placeholder="Current Password" type="password" required>
        </div>
        <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New Password" type="password" required>
        </div>
        <div class="mb-3">
            <label for="confirmation" class="form-label">Confirm New Password</label>
            <input autocomplete="off" class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm New Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}